.container { 
display: flex;
justify-content: center;
align-items: center; 
margin: auto;
padding: 10px;
overflow: hidden;
}

.geeks { 
            width: auto; 
            height: auto; 
            background: green; 
            box-shadow: 0 0 20px rgb(127, 153, 127), 
                        0 0 40px rgb(127, 153, 127), 
                        0 0 60px rgb(127, 153, 127), 
                        0 0 80px rgb(127, 153, 127), 
                        0 0 120px rgb(127, 153, 127), 
                        0 0 220px rgb(127, 153, 127), 
                        0 0 320px rgb(127, 153, 127); 
            transition: 2s; 
        } 
        
        .geeks:hover { 
            box-shadow: 0 0 0 30px rgb(83, 224, 83), 
                        0 0 0 60px rgb(83, 224, 83), 
                        0 0 0 100px rgb(83, 224, 83), 
                        0 0 0 120px rgb(82, 226, 82), 
                        0 0 0 200px rgb(37, 214, 37), 
                        0 0 0 400px rgb(27, 165, 27), 
                        0 0 0 450px rgb(63, 235, 63); 
        }  


/*transparent version - adapted from https://www.geeksforgeeks.org/how-to-create-shock-wave-or-explosion-effect-using-html-and-css/*/ 

/*edit the padding and/or overflow to either get a full box or a just a cut off rectangle*/
.container { 
display: flex;
justify-content: center;
align-items: center; 
margin: auto;
padding: 10px;
overflow: hidden;
}

.explode { 
            width: auto; 
            height: auto; 
            background: transparent; 
            transition: 2s; 
        } 
        
        .explode:hover { 
            background: #F5F5F5;
            box-shadow: 0 0 0 2em #F8F5DE, 
                        0 0 0 4em #FFF396, 
                        0 0 0 6em #C0CA7C, 
                        0 0 0 8em #80A161, 
                        0 0 0 10em #588D8E, 
                        0 0 0 12em #2F79BA, 
                        0 0 0 14em #781202; 
        }  

